body{
    background-color: rgb(222, 222, 199);
    line-height: 1.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(106, 43, 43);
    margin: 0;
    
}

/*-----------------HEADER---------------*/

header{
    color:rgba(0, 0, 0, 0.636);
    background-color: rgb(81, 138, 176);
    background-image: url('geometric2.png');
    background-size: cover;
    padding: 10px;
    text-shadow: 2px 2px 2px rgb(119, 117, 117);
    line-height: 70px;
}

h1{
    font-size: 4.5rem;
    font-weight: bold;
    padding: 5%;
    margin-top: 0%;
    letter-spacing: 0.14em;
}

/*-----------------MAIN---------------*/

.container{
    
    width: 80%;
    padding-top: 20px;
    padding-left: 10px;
    margin: auto;
    position:relative;
}

h2{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 2.5rem;
    line-height: 45px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.firstsentence{
    padding-bottom: 10px;
}

/*-----------------LINKS---------------*/

li{
    color: rgb(88, 32, 32);
    margin: 0%;
    list-style-type: none;
    border: 1px;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color:black
}

a:hover{
    text-decoration: underline;
    color:brown
}

a:active{
    text-decoration: underline;
}

/*-----------------RESUME---------------*/

.resumesektioner{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 0;
    padding-right: 20%;
}
.arbetenv{
    width: 260px;
    margin:auto;
}

.arbetenh{
    width: 260px;
    margin:auto;
}

.arbetsbeskrivning{
    font-size: smaller;
    line-height: 15px;
}


/*-----------------PROJECTSGRID--------------*/

.grid-col-span-2{
    width: auto;
    grid-column: span 2;
}
.grid-col-span-3{
    width: 2px;
    grid-column: span 3;
}

.projectsgrid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 150px 150px 150px 150px 150px;
}


/*-----------------POSITIONING---------------*/

header{
    position: sticky;
    top: 0;
    right: 0;

}

aside{
    position: absolute;
    left: 85%;
    top: 30%;
}

footer{
    position: relative;
    top: 210px;
}